<div>
    <b>Efficiency</b>
    <p>
      This characteristic is concerned with the system resources used when providing the required functionality. The amount of disk space, memory, network etc. provides a good indication of this 
      characteristic. As with a number of these characteristics, there are overlaps. For example the usability of a system is influenced by the system's Performance, in that if a system 
      takes 3 hours to respond the system would not be easy to use although the essential issue is a performance or efficiency characteristic.
    </p>
</div>