<div>
  <article>
    <h2>Article Purpose</h2>
  </article>
  <p>
    The purpose of this article is to present an overview of the ISO 9126 standard and to give a detailed description of the software quality model
    used by this standard.
  </p>
  <p>
    ISO 9126 is an international standard for the evaluation of software. The standard is divided into four parts which addresses, respectively, the following subjects: quality model; external metrics; internal metrics; and quality in use metrics.
    ISO 9126 Part one, referred to as ISO 9126-1 is an extension of previous work done by <a href="http://www.sqa.net/softwarequalityattributes.html">McCall (1977), Boehm (1978)</a>, <a href="http://www.sqa.net/index.htm#furps">FURPS</a> and others in defining a set of software quality characteristics.
  </p>
  <p>
    ISO9126-1 represents the latest (and ongoing) research into characterizing software for the purposes of software quality control, software quality assurance and software process improvement (SPI).
    This article defines the characteristics identified by ISO 9126-1. The other parts of ISO 9126, concerning metrics or measurements for these characteristics, are essential for SQC, SQA and SPI but the main
    concern of this article is the definition of the basic ISO 9126 Quality Model.
  </p>
  <p>
  The ISO 9126 documentation itself, from the <a href="http://www.iso.org/iso/en/ISOOnline.frontpage">official ISO 9126 documentation</a>, can only be purchased and is subject to copyright.
  SQA.net only reproduces the basic structure of the ISO 9126 standard and any descriptions, commentary or guidance are original material based on 
  public domain information as well as our own experience.
  </p>
  <div>
    The ISO 9126-1 software quality model identifies <b>6 main quality characteristics</b>, namely:
    <ul>
      <li>Functionality</li>
      <li>Reliability</li>
      <li>Usability</li>
      <li>Efficiency</li>
      <li>Maintainability</li> 
      <li>Portability</li>
    </ul>
  </div>
</div>
