<div>
    <b>Usability</b>
    <p>
      Usability only exists with regard to functionality and refers to the ease of use for a given function. For example a function of an ATM machine is to dispense cash as requested.
      Placing common amounts on the screen for selection, i.e. $20.00, $40.00, $100.00 etc, does not impact the function of the ATM but addresses the Usability of the function.
      The ability to learn how to use a system (learnability) is also a major subcharacteristic of usability.
    </p>
</div>
