<div>
  <b>Functionality</b>
  <p>
    Functionality is the essential purpose of any product or service. For certain items this is relatively easy to define, for example <i>a ship's anchor</i> has the function
    of holding a ship at a given location. The more functions a product has, e.g. an ATM machine, then the more complicated it becomes to define it's functionality. For software a list 
    of functions can be specified, i.e. a sales order processing systems should be able to <i>record customer information</i> so that it can be used to 
    reference a sales order. A sales order system should also provide the following functions: 
  </p>
  <div>
    <ul>
      <li>Record sales order product, price and quantity.</li>
      <li>Calculate total price.</li>
      <li>Calculate appropriate sales tax.</li>
      <li>Calculate date available to ship, based on inventory.</li>
      <li>Generate purchase orders when stock falls below a given threshold.</li>
    </ul>
  </div>
  <p>
    The list goes on and on but the main point to note is that functionality is expressed as a totality of essential functions that the software product provides. It is also important to note that the presence or absence of these functions in a software product 
    can be verified as either existing or not, in that it is a Boolean (either a yes or no answer). The other software characteristics listed (i.e. usability) are only present to some degree, i.e. not a simple on or off.
    Many people get confused between  overall process functionality (in which software plays a part) and software functionality. This is partly due to the fact that Data Flow Diagrams (DFDs) and other modeling tools can depict 
    process functionality (as a set of data in\data out conversions) and software functionality. Consider a sales order process, that has both manual and software components. A function of 
    the sales order process could be to record the sales order but we could implement a <i>hard copy</i> filing cabinet for the actual orders and only use software for calculating the price, tax and ship date. In this way the
    functionality of the software is limited to those calculation functions. SPI, or Software Process Improvement is different from overall Process Improvement or Process Re-engineering, ISO 9126-1 and other software quality models do not
    help measure overall Process costs\benefits but only the software component.
    The relationship between software functionality within an overall business process is outside the scope of ISO 9126 and it is only the
    software functionality, or essential purpose of the software component, that is of interest for ISO 9126.
  </p>
  <p>
    <b>Following functionality, there are 5 other software attributes that characterize the usefulness of the software in a given environment.</b>
  </p>
  <p>
    Each of the following characteristics can only be measured (and are assumed to exist) when the functionality of a given system is present. In this way, for example, a system can not possess <i>usability</i>
    characteristics if the system does not function correctly (the two just don't go together).
  </p>
</div>
