<div>
  <b>Reliability</b>
  <p>
    Once a software system is functioning, as specified, and delivered the reliability characteristic defines the capability of the system to
    maintain its service provision under defined conditions for defined periods of time. One aspect of this characteristic is <i>fault tolerance</i> that is
    the ability of a system to withstand component failure. For example if the network goes down for 20 seconds then comes back the system should be able to recover and 
    continue functioning.
  <p>
</div>
